<!doctype html>
<html lang="en">
  <head>
    <title>Shopping</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
    .carrito_img{
          width: 100px;
          height: 200px;
          margin-bottom: 30px;
      }

       
  </style>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand nav-item nav-link active" href="#">DASW</a>
        <div class="flex-grow-1">
            <form class="form-inline">
                <input class="form-control col-sm-9 col-lg-10" type="search" placeholder="Busca tu articulo">
                <button class="btn btn-outline-light col-sm-3 col-lg-2" type="submit">Buscar</button>
            </form>
        </div>
        
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Cuenta</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#login">Ingresar</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#registro">Registro</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Mis pedidos</a>
                    </div>
                </li>
                <li class="nav-item">
                  <a  class="btn btn-dark" role="button" aria-disabled="true" onclick="goToCart()"><i class="fas fa-shopping-cart"></i> <span class="badge badge-light" id="proxySize">0</span></a>
                </li>
            </ul>
        </div>
    </nav>
<br/>
<h4 class="text-center">Resumen de Compra</h4>

<div class="row p-3 row-cols-1  row-cols-md-2" >
  <div class="col-sm-6 col-md-8" id = "mainList">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <div class="media-body">
           
           
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" id="mainList">
    <div class="card">
      <div class="card-body" align="left">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5 class="card-title">Total de Compra</h5>
          </li>
          <li class="list-group-item" id = "sideList"></li>
            <li class="list-group-item">
              <p id="Tot"></p>
              <button type="button" class="btn btn-outline-success btn-lg btn-block">Pagar</button>
              <a href="home.html" class="btn btn-outline-danger btn-block" role="button" aria-disabled="true">Cancelar</a>
            </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>

     <!-- Modal -->
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group">
              <label for="">Correo</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user    "></i></span>
                </div>
                <input type="text" class="col-10 form-control" name="" id="" aria-describedby="helpId"
                  placeholder="correo registrado">
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon2"><i class="fas fa-key    "></i></span>
                </div>
                <input type="password" class="col-10 form-control" name="" id="" aria-describedby="helpId"
                  placeholder="correo registrado">
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <button type="button" class="btn btn-success col-lg-12" data-dismiss="modal">Login</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                  No tienes cuenta!
                  <a href="#"  class="col-lg-10" data-dismiss="modal" data-toggle="modal" data-target="#registro">
                    Registrate aquí
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary col-lg-10">Save</button>
            </div>
        </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="row">
              <div class="col-6">
                <input type="text" name="" id="" class="form-control" placeholder="Nombre(s)"
                  aria-describedby="helpId" required>
              </div>
              <div class="col-6">
                <input type="text" name="" id="" class="form-control" placeholder="Apellidos" aria-describedby="helpId"
                  required>
              </div>
            </div>

            <input type="mail" name="" id="" class="form-control mt-3" placeholder="Tu correo" aria-describedby="helpId"
              required>

            <input type="password" name="" id="" class="form-control mt-3" placeholder="Contraseña"
              aria-describedby="helpId" required>

            <input type="password" name="" id="" class="form-control mt-3" placeholder="Confirmar contraseña"
              aria-describedby="helpId" required>

            <button type="submit" class="btn btn-success mt-3 col-lg-12">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="static/ajax_handler.js"></script>
    <script type="text/javascript" src="static/utils.js"></script>
    
    <script type="text/javascript" src="static/shopping_cart.js"></script>
    <script type="text/javascript" src="static/products.js"></script>
    
    <script type="text/javascript" src="static/general_utils.js"></script>
    <script type="text/javascript" src="static/cart_utils.js"></script>
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>